docker
setuptools
twine
pytest
aiohttp
psutil
beautifulsoup4
duckduckgo-search
nltk
playwright
chromadb
langchain
langchain_core
langchain_community
sentence_transformers
pypdf
jq
unstructured
pdfminer.six
pi_heif
unstructured_pytesseract
pdf2image
pytesseract
opencv-python
tesserocr
unstructured-inference